.user-profile {
	.active {
		color: green;
	}
	.fa-pencil-square-o {
		display: none;
	}
	
	h2:hover {
		.fa-pencil-square-o {
			display: inline;
		}
	}
	
	h2 {
		margin-bottom: 0px;
		width: 100%;
		float: left;
	}

	hr {
		color: #555555;
	}

	.breadcrumbs {
		border: none;
		background-color: white;
		padding-left: 0;
		li {
			font-size: 14px
		}
	}

}